.menustyle{
    list-style:none;
    background:rgb(70, 62, 62);
    color:#fff;
    position: fixed;
    top:0;
    bottom:0;
    margin:0;
}
.navlist{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}
.menustyle li a{
    color:#fff;
}