body{
    margin:0;
    padding:0;
    display: flex;
    height:100vh;
    font-family: Poppins;
    font-size: 14px;
}
.bargernorme{
  transform-origin: 50% 50%!important;
  transform:rotate(90deg)!important;
}
#bargerbottom{
  transform-origin: 45% 30%;
  transition: all 0.5s ease 0s;
  transform:rotate(135deg);
}
#bargertop{
  transform-origin: 40% 85%;
  transition: all 0.5s ease 0s;
  transform:rotate(45deg);
}
h1,h2,h3,h4,h5{
  font-family:Acme;
}
aside{
  box-shadow: 0px 24px 0px 0.5px #d9d9d9;
  position: relative;
  flex-basis: 10rem;
  transition: all 0.5s ease 0s;
  overflow-y: hidden
}
.adjustmenu{
  flex-basis: 50px;
}
.menu{
  position:absolute;
  transition: all 0.5s ease 0s;
  left:0px;
  height:100%;
}
.nav{
    flex-direction: column;
    padding:5px 10px;
    padding-top:20%;
}
.lineR{
  border-right:1px solid #d9d9d9;
}
.nav-link{
  color: #000;
  font-weight: 600;
  font-family: Acme;
  font-size: 20px;
}
.nav-item a:hover{
  background: linear-gradient(45deg #1a91b8,#16dcb8,#1d86b9);
}

main{
    flex-basis: 1069px;
    flex-grow: 1;
    overflow-y:scroll;
}
.mainheader {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  transition: all 0.5s ease 0s;
  height: 100%;
  display: flex;
}
.mainheader img{
    width:150px;
    padding:5px 20px;
}
.main_block_info{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile_box{
  width: fit-content;
  margin: 0 auto;
}

.profile_box img{
  width:100%;
}

footer{
    padding: 2px;
    color: #000;
}


.card-title img{
    width: 130px;
}

.weblogo{
  width:fit-content;
  margin:0 auto;
}

.weblogo img{
  width:200px;
}

.modal-dialog{
  max-width:95%;
}

.modal-content{
  height:90vh;
}

iframe{
  height: 100%;
  width: 100%;
}
.card{
  border: 1px solid rgba(0, 0, 0, 0.514);
}
.card-flip > div{
  border-radius: 4px;
}

:bg{
  --gray:#959595;
}


/*
flip card
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }

  /*this for skill css*/

.skilllogo img{
  width: 4rem;
  margin:20px;
}

.progress-bar{
  transition: width 2s ease;
}

#menutag{
  border:none;
  text-align:start;
  background: transparent;
  transform:rotate(90deg);
  width:fit-content;
}

.fadmeout{
  animation:zoomOut;
}

.custbtn{
  background: #c8c8c8;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 20px;
}



/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1202px) {
  aside{
    flex-basis: 11rem;
  }
}
@media screen and (max-width: 770px) {
  aside {
    flex-basis: 18rem;  
  }
}
@media screen and (max-width: 545px) {
  aside {
    flex-basis: 23rem;
  }
}
@media screen and (max-width: 420px) {
  aside {
    flex-basis: 35rem;
  }
  .mainheader img {
    width: 120px;
  }
  .nav-link {
    font-size: 14px;
  }
  .custbtn {
    font-size: 13px;
  }
  footer p{
    font-size: 9px;
    padding-right: 55px;
  }
}
@media screen and (max-width: 281px) {
  aside {
    flex-basis: 38rem;
  }
  .mainheader img {
    width: 110px;
  }
  .nav-link {
    font-size: 10px;
  }
  .custbtn {
    font-size: 9px;
  }
  footer p{
    padding-right: 15px;
  }
}