body{
    margin:0;
    padding:0;
    display: flex;
    overflow-x:hidden;
}
aside{
    flex-basis:230px;
    background:rgb(58, 136, 146);
    height:100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.nav{
    flex-flow: column;
    padding:10px;
}
.nav-link{
    color:#fff;
}
main{
    flex-grow: 1;
}
.mainheader img{
    width:100%;
    padding:20px;
}
footer{
    padding: 10px;
    font-size: 11px;
    color: #fff;
}